@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Ubuntu', sans-serif;
}
.banner{
    background: url(../src/assets/bannerBg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .dashboardNav{
    overflow-x: scroll;
} */
.dashboardNav a.active{
    background-color: white;
    color: #01203D;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}